* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
/* Header */
.header {
    display: flex;
    justify-content:space-between;
    border-style: ridge;
    border-color: bisque;
    margin: -3px 0;
    background-color: #f9e9de;
    position: sticky;
    top: 1px;
}
/* Left Navigation */
.left-nav {
    display: flex;
    align-items: center;
    margin: 5px 100px;
}

.site-logo {
    width: 48px;
    border-radius: 25px;
}

.site-title {
    color: #9e363a;
    font-size: 28px;
}
/* Right Navigation */
.right-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
    padding: 0 100px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #F36E4B;
}
.hire-me {
    background-color: #1dbab4;
    color: white;
    padding: 10px 15px;
}
/* Hero Section */
/* Left Hero */
.hero-section {
    display: flex;
    align-items: center;
    padding: 60px 0;
}
.left-hero {
    width: 40%;
    position: relative;
}
.hero-profile {
    width: 100%;
    border-radius: 100%;
}

.avatar {
    width: 8%;
    position: absolute;
    left: 100px;
    top:300px;
}
/* Right Hero */
.right-hero {
    width: 60%;
}

.portfolio-heading {
    font-size: 70px;
}

.portfolio-highlight {
    color: #F36E4B;
}

.discover {
    width: 40px;
    margin: 0 2px;
}

.sub-heading {
    margin: 15px 0;
    opacity: 0.6;
    display: flex;
    align-items: center;
}

.btn-resume, .btn-contact {
    padding: 15px 35px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin: 12px 0;
}

.btn-resume {
    color: white;
    background-color: #F36E4B;
}

.btn-contact {
    margin: 0 5px;
}

.mini-sub {
    opacity: 0.7;
}